<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header style="background: blue;">PHAN HEADER</header>

    @RenderBody()

    <footer style="background: green;">PHAN FOOTER</footer>
</body>
</html>