@{
    var title = ViewData["title_message"] ?? "THONG BAO";
    var content = ViewData["content"] ?? "Noi dung thong bao";
}

<div class="alert alert-danger">
    <strong>@title</strong> <br>
    @content
</div>