@page "/trang-dau-tien/{solanlap:int?}"
<h1 style="color: red">Day la trang Razor Page dau tien</h1>
<p>Hoc lap trinh ASP.Net Core (<strong>@System.DateTime.Now</strong>)</p>

@{
    int a = 2;
    int b = 3;

    @* string solanlapParam = (string)RouteData.Values["solanlap"]; *@
    string solanlapParam = this.Request.RouteValues["solanlap"]?.ToString() ?? "0";

    int solanlap = Int32.Parse(solanlapParam);

    <p>Can bac 2 cua @a la @(Math.Sqrt(a))</p>
}

<p>Tong cua @a va @b la @(a + b)</p>

<ol>
    @for (int i = 1; i <= solanlap; i++)
    {
        <li>Muc thu @i</li>
    }
</ol>